<mat-card>
    <label class="color">CEP</label>
    <input type="text" class="form-control inputLine mb-2" placeholder="CEP" disabled value="{{location.cep}}">
    <label class="color">Logradouro</label>
    <input type="text" class="form-control inputLine mb-2" placeholder="Logradouro" disabled value="{{location.logradouro}}">
    <label class="color" *ngIf="location.complemento !== ''">Complemento</label>
    <input type="text" class="form-control inputLine mb-2" placeholder="Complemento" disabled value="{{location.complemento}}" *ngIf=" location.complemento !==''">
    <label class="color">Bairro</label>
    <input type="text" class="form-control inputLine mb-2" placeholder="Bairro" disabled value="{{location.bairro}}">
    <label class="color ">Localidade</label>
    <input type="text" class="form-control inputLine mb-2" placeholder="Localidade" disabled value="{{location.localidade}}">
    <label class="color">UF</label>
    <input type="text" class="form-control inputLine mb-2" placeholder="UF" disabled value="{{location.uf}}">
    <div class="row mb-2">
        <div class="col-xl-6">
            <label class="color">IBGE</label>
            <input type="text" class="form-control inputLine" placeholder="IBGE" disabled value="{{location.ibge}}">
        </div>
        <div class="col-xl-6">
            <label class="color" *ngIf="location.gia !==''">GIA</label>
            <input type="text" class="form-control inputLine" placeholder="GIA" disabled value="{{location.gia}}" *ngIf="location.gia !==''">
        </div>
    </div>
</mat-card>